<% if params[:withdraw] %>
  <h2 id="title">Mmmm... &iquest;A qui&eacute;n castigar&eacute; ahora?</h2>
<% else %>
  <h2 id="title">Mmmm... &iquest;A qui&eacute;n deseo donarle ahora?</h2>
<% end %>
<% if flash[:warning] or flash[:notice] %>
  <div id="notice" <% if flash[:warning] %>class="warning"<% end %>>
    <%= flash[:warning] || flash[:notice] %>
  </div>
<% end %>
<%= form_tag students_path,:id=>'search-donor-form', :method => 'get' do %>
  <input type="search" placeholder="Ingresar nombre o apellido.." id="search" name="search" />
  <%if params[:withdraw]%><input type="hidden" name="withdraw" value="true" /><% end %>
<% end %>
<% if params[:multiple] %>
  <div>
    <% if params[:withdraw] %>
      <button id="make-multiple-withdrawal">Retirar a seleccionados</button>
    <% else %>
      <button id="make-multiple-donation">Donar a seleccionados</button>
    <% end %>
  </div>
<% end %>


<% if params[:multiple] %>
  <%= render :partial => "multiple", :locals => { :students => @students } %>
<% else %>
  <%= render :partial => "individual", :locals => { :students => @students } %>
<% end%>



