<% if params[:operation] == 'withdraw' %>
  <h2 id="title">Mmmm... &iquest;A qui&eacute;n castigar&eacute; ahora?</h2>
<% else %>
  <h2 id="title">Mmmm... &iquest;A qui&eacute;n deseo donarle ahora?</h2>
<% end %>
<% if flash[:warning] or flash[:notice] %>
  <div id="notice" <% if flash[:warning] %>class="warning"<% end %>>
	 <a class="close" href="#">×</a>
	 <p><%= flash[:warning] || flash[:notice] %></p>
  </div>
<% end %>

<% if params[:multiple] %>
  <%= render :partial => "multiple", :locals => { :students => @students } %>
<% else %>
  <%= render :partial => "individual", :locals => { :students => @students } %>
<% end%>



