<% if params[:withdraw] %>
  <h2 id="title">Mmmm... &iquest;A qui&eacute;n castigar&eacute; ahora?</h2>
<% else %>
  <h2 id="title">Mmmm... &iquest;A qui&eacute;n deseo donarle ahora?</h2>
<% end %>

<%= form_tag students_path,:id=>'search-donor-form', :method => 'get' do %>
     <input type="search" placeholder="Ingresar nombre o apellido.." id="search" name="search" />
<% end %>

<ul data-role="listview" data-theme="c">
	<% @students.each do |student| %>
    <% if params[:withdraw] %>
      <li><%= link_to "#{student.complete_name}", make_withdraw_student_path(student) %></li>
    <% else %>
      <li><%= link_to "#{student.complete_name}", make_donation_student_path(student) %></li>
    <% end %>
  <% end %>
</ul>

