<div data-role="container" id="container">
<div id="login-form-bg">
  <% if current_user.student? %>
    <%= render "student_menu" %>
  <% elsif current_user.teacher? %>
    <%= render "teacher_menu" %>
    <% else %>
<% end %>
</div>
</div>
