<div data-role="container" id="container">
<div id="login-form-bg">
  <%= link_to "Menu 1", "#" %><br />
  <%= link_to "Menu 2", "#" %><br />
  <%= link_to "Menu 3", "#" %><br />
  <%= link_to "Menu 4", "#" %><br />
</div>
</div>
