<div data-role="container" id="container">
  <div id="login-form-bg">
    <div id="main-menu">
      <%= link_to (image_tag "icons/depositar_icon.png"), "#", :id => 'menu-icon-1' %><br />
      <%= link_to (image_tag "icons/retirar_icon.png"), "#", :id => 'menu-icon-2' %><br />
      <%= link_to (image_tag "icons/historial_icon.png"), "#", :id => 'menu-icon-3' %><br />
    </div>
  </div>
</div>
